################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Pacman_new/v15/Server/sqlite3
/.vs/Pacman_new/v15
